.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
**/Dockerfile text eol=lf
*.ex text eol=lf
*.exs text eol=lf
*.heex text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
VERSION text eol=lf
priv/cldr/locales/*.json text eol=lf
